@page {
  size: A4 landscape;
  /* this affects the margin in the printer settings */
  margin: 25mm 25mm 25mm 25mm;
}
.panel {
  page-break-inside: avoid;
}
li {
  text-align: justify;
}
@font-face {
  font-family: 'Coval';
  src: url('../fonts/Coval-Regular.otf');
}
body {
  font-family: 'Coval'
}
