{% assign time = 10 %}
{% if include.time %}
  {% assign time = include.time %}
{% endif %}

{% assign content = include.phase.content %}
{% assign verify = include.phase.verify %}

<div class="panel panel-success">
  <div class="panel-heading">
    <div class="row-fluid">
      <span class="glyphicon glyphicon-pencil"></span>
      <span class="span6">Разясняване</span>
      <span class="span6 pull-right">
        <i class="glyphicon glyphicon-time"></i>
        {{ time }} минути
      </span>
    </div>
  </div>
  <div class="panel-body">
    <ul>
    {% for activity in include.phase.content %}
      <li>{{ activity }}</li>
    {% endfor %}
    </ul>
  </div>
  <div class="panel-footer">
    {% for check in verify %}
      <input type="checkbox">{{ check }}<br>
    {% endfor %}
  </div>
</div>
