<div class="panel panel-info">
  <div class="panel-heading">Въпроси</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xxs-12">
        Как изглеждат учениците на края на часа?
        <ul>
          {% for base in include.base.look %}
            <li>{{ base }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-md-3 col-sm-6 col-xxs-12">
        Какво знаят и могат?
        <ul>
          {% for base in include.base.can %}
            <li>{{ base }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-md-3 col-sm-6 col-xxs-12">
        Какво трябва да преживеят, за да успеят да постигнат целите на урока?
        <ul>
          {% for base in include.base.experience %}
            <li>{{ base }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-md-3 col-sm-6 col-xxs-12">
        Какво ще проследявам през часа? Как и в кои моменти?
        <ul>
          {% for base in include.base.verify %}
            <li>{{ base }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
