{% assign time = 10 %}
{% if include.phase.time %}
  {% assign time = include.phase.time %}
{% endif %}

{% assign content = include.phase.content %}
{% assign verify = include.phase.verify %}

<div class="panel panel-success">
  <div class="panel-heading">
    <div class="row-fluid">
      <span class="glyphicon glyphicon-search"></span>
      <span class="span6">Изследване</span>
      <span class="span6 pull-right">
        <i class="glyphicon glyphicon-time"></i>
        {{ time }} минути
      </span>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-3">
        Какво?
        <ul>
        {% for activity in content.what %}
          <li>{{ activity }}</li>
        {% endfor %}
        </ul>
      </div>
      <div class="col-sm-3">
        Как?
        <ul>
        {% for activity in content.how %}
          <li>{{ activity }}</li>
        {% endfor %}
        </ul>
      </div>
      <div class="col-sm-1">
        Колко време?
        <p>{{ time | minus:3 }}</p>
      </div>
      <div class="col-sm-2">
        <strong>Проверка на разбирането</strong>
      </div>
      <div class="col-sm-2">
        Действие
        <ul>
        {% for activity in content.action %}
          <li>{{ activity }}</li>
        {% endfor %}
        </ul>
      </div>
      <div class="col-sm-1">
        Начало!
      </div>
    </div>
  </div>
  <div class="panel-footer">
    Проверка:<br>
    {% for check in verify %}
      <input type="checkbox">{{ check }}<br>
    {% endfor %}
  </div>
</div>
