<div class="panel panel-success">
  <div class="panel-heading">
    <div class="row-fluid">
      <span class="glyphicon glyphicon-star"></span>
      <span class="span6">Табло на успехите</span>
      <span class="span6 pull-right">
        <i class="glyphicon glyphicon-time"></i>
        {{ time }} минути
      </span>
    </div>
  </div>
  <div class="panel-body">
    <p>
      <span>Успехът е на:  ..............................................</span>
      <span class="pull-right">Проследява го: ......................................................................</span>
    </p>
    <p class="pull-right"></p>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>
          <span class="moon-phase">A</span> 0<br>
        </th>
        <th>
          <span class="moon-phase">E</span> 25<br>
        </th>
        <th>
          <span class="moon-phase">G</span> 50<br>
        </th>
        <th>
          <span class="moon-phase">I</span> 75<br>
        </th>
        <th>
          <span class="moon-phase">a</span> 100<br>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          ЗНАНИЯ<br>
          чертае разгъвка на паралелепипед
        </td>
        <td>Не е направил/а опит</td>
        <td>Направил/а е опит за изчертаване на разгъвка на магическия паралелепипед</td>
        <td>Изчертал/а е успешно разгъвката на магическия паралелепипед</td>
        <td>Изчертал/а е успешно разгъвката и е започнал/а да сгъва, но не е успял/а до край</td>
        <td>Изградил/а е завършен макет на паралелепипед</td>
      </tr>
      <tr>
        <td>
          НАГЛАСИ<br>
          помагаме си
        </td>
        <td>Не е направил/а опит</td>
        <td>Опита да помогне или да поиска помощ, но се отказа преди да даде/получи градивен отговор</td>
        <td>Веднъж даде ИЛИ веднъж поиска помощ или мнение и това даде резултат</td>
        <td>Веднъж даде И веднъж поиска помощ или мнение и това даде резултат</td>
        <td>Помогна на всеки, който потърси помощта ѝ/му и попита за мнение или помощ свои съотборници</td>
      </tr>
    </tbody>
  </table>
  <div class="panel-footer">
    <p>Рецензия:</p>
    <p>Справил/а си се чудесно с:</p>
    <br>
    <p>И може да поработиш още над:</p>
    <br>
    като:
    <ol>
      <li>Се свържеш с приятел на име ............................................, за да го питаш повече за .......................................</li>
      <li>Потърсиш сам в интернет като напишеш ключова дума ".............................................."</li>
      <li>Чел/а съм в ............................................................. по този въпрос. Опитай и ти!</li>
      <li>Друго решение е да ....................................................</li>
      <li>Благодаря за ....................................................................</li>
    </ol>
  </div>
</div>
