<div class="panel panel-success">
  <div class="panel-heading">
    <div class="row-fluid">
      <span class="span6">Обобщаване</span>
      <span class="span6 pull-right">
        <i class="glyphicon glyphicon-time"></i>
        {% if include.time %}
          {{ include.time }}
        {% else %}
          5
        {% endif %}
      </span>
    </div>
  </div>
  <div class="panel-body">
    {% for activity in include.content %}
      <div class="row">
        <div class="col-sm-6">{{ activity.say }}</div>
        <div class="col-sm-6">{{ activity.do }}</div>
      </div>
    {% endfor %}
  </div>
  <div class="panel-footer">{{ include.verify }}</div>
</div>
