---
layout: base
---
<p>
  {% assign m = page.date | date: "%-m" %}
  {{ page.date | date: "%-d" }}
  {% case m %}
    {% when '1' %}януари
    {% when '2' %}февруари
    {% when '3' %}март
    {% when '4' %}април
    {% when '5' %}май
    {% when '6' %}юни
    {% when '7' %}юли
    {% when '8' %}август
    {% when '9' %}септември
    {% when '10' %}октомври
    {% when '11' %}ноември
    {% when '12' %}декември
  {% endcase %}
  {{ page.date | date: "%Y" }}
</p>
{% include panel_aims.html aims = page.aims %}

{% capture phase=page.phases[0] %}{% endcapture %}
{% include panel_0_prepare.html phase=phase %}

{% capture phase=page.phases[1] %}{% endcapture %}
{% include panel_1_engage.html phase=phase %}

{% capture phase=page.phases[2] %}{% endcapture %}
{% include panel_2_explore.html phase=phase %}

{% capture phase=page.phases[3] %}{% endcapture %}
{% include panel_3_explain.html phase=phase %}

{% capture phase=page.phases[4] %}{% endcapture %}
{% include panel_4_elaborate.html phase=phase %}

{% capture phase=page.phases[5] %}{% endcapture %}
{% include panel_5_evaluate.html phase=phase %}
